.name{
  width: fit-content;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  white-space: nowrap ;
  overflow: hidden ;
  text-overflow: ellipsis ;
}
.id{
  display: flex;
  align-items: flex-start;
}